@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.5rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.142 0.004 280.6192273772476);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.142 0.004 280.6192273772476);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.142 0.004 280.6192273772476);
    --primary: oklch(0.358 0.173 269.48769075836066);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.796 0.011 281.05566506342564);
    --secondary-foreground: oklch(0.194 0.028 278.590096745248);
    --muted: oklch(0.796 0.011 281.05566506342564);
    --muted-foreground: oklch(0.481 0.1 277.1681982218152);
    --accent: oklch(0.597 0.154 300.2669013004835);
    --accent-foreground: oklch(0.187 0.051 299.9680647220243);
    --destructive: oklch(0.58 0.237 28.43022926835137);
    --border: oklch(0.838 0.009 281.11433963953675);
    --input: oklch(0.838 0.009 281.11433963953675);
    --ring: oklch(0.358 0.173 269.48769075836066);
    --chart-1: oklch(0.358 0.173 269.48769075836066);
    --chart-2: oklch(0.551 0.194 273.4125799817052);
    --chart-3: oklch(0.673 0.122 277.75140498385645);
    --chart-4: oklch(0.317 0.185 266.4216534260729);
    --chart-5: oklch(0.244 0.134 267.3699529631329);
    --sidebar: oklch(0.796 0.011 281.05566506342564);
    --sidebar-foreground: oklch(0.194 0.028 278.590096745248);
    --sidebar-primary: oklch(0.358 0.173 269.48769075836066);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.597 0.154 300.2669013004835);
    --sidebar-accent-foreground: oklch(0.187 0.051 299.9680647220243);
    --sidebar-border: oklch(0.838 0.009 281.11433963953675);
    --sidebar-ring: oklch(0.358 0.173 269.48769075836066);
}

.dark {
    --background: oklch(0.175 0.023 278.8655419297425);
    --foreground: oklch(0.959 0.003 281.23560236144095);
    --card: oklch(0.213 0.033 278.3707012282266);
    --card-foreground: oklch(0.959 0.003 281.23560236144095);
    --popover: oklch(0.213 0.033 278.3707012282266);
    --popover-foreground: oklch(0.959 0.003 281.23560236144095);
    --primary: oklch(0.398 0.175 270.80751387527135);
    --primary-foreground: oklch(0.959 0.003 281.23560236144095);
    --secondary: oklch(0.259 0.013 280.4387692027488);
    --secondary-foreground: oklch(0.954 0.009 281.13000679867514);
    --muted: oklch(0.259 0.013 280.4387692027488);
    --muted-foreground: oklch(0.695 0.035 280.42190848330245);
    --accent: oklch(0.493 0.218 295.35267476374236);
    --accent-foreground: oklch(0.95 0.018 304.07687019777205);
    --destructive: oklch(0.58 0.237 28.43022926835137);
    --border: oklch(0.347 0.03 279.7446204842039);
    --input: oklch(0.347 0.03 279.7446204842039);
    --ring: oklch(0.398 0.175 270.80751387527135);
    --chart-1: oklch(0.398 0.175 270.80751387527135);
    --chart-2: oklch(0.591 0.192 274.1798256071595);
    --chart-3: oklch(0.699 0.143 277.2374744324833);
    --chart-4: oklch(0.359 0.169 269.9242908705502);
    --chart-5: oklch(0.301 0.101 273.86144869323635);
    --sidebar: oklch(0.283 0.051 277.8122860280585);
    --sidebar-foreground: oklch(0.959 0.003 281.23560236144095);
    --sidebar-primary: oklch(0.398 0.175 270.80751387527135);
    --sidebar-primary-foreground: oklch(0.959 0.003 281.23560236144095);
    --sidebar-accent: oklch(0.493 0.218 295.35267476374236);
    --sidebar-accent-foreground: oklch(0.95 0.018 304.07687019777205);
    --sidebar-border: oklch(0.347 0.03 279.7446204842039);
    --sidebar-ring: oklch(0.398 0.175 270.80751387527135);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
